@model MyPortfolio.Models.SocialMedia

@{
    ViewData["Title"] = "Create";
}

<section class="createSection">
    <h1>Create</h1>

    <h2>Social Media</h2>
    <hr />
    <div>
        <div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <div>
                    <div class="labelDiv">
                        <label asp-for="Title"></label>
                        <span asp-validation-for="Title"></span>
                    </div>
                    <input asp-for="Title" />
                </div>
                <div>
                    <div class="labelDiv">
                        <label asp-for="Url"></label>
                        <span asp-validation-for="Url"></span>
                    </div>
                    <input asp-for="Url" />
                </div>
                <div>
                    <div class="labelDiv">
                        <label asp-for="ImageFile"></label>
                        <span asp-validation-for="ImageFile"></span>
                    </div>
                        <input class="background-light text-darkest" asp-for="ImageFile" />
                    </div>
                <div>
                    <div class="labelDiv">
                        <label asp-for="ImageTitle"></label>
                        <span asp-validation-for="ImageTitle"></span>
                    </div>
                        <input asp-for="ImageTitle" />
                    </div>
                    <div class="submitDiv">
                        <input class="background-blue text-lightest" type="submit" value="Create" />
                    </div>
            </form>
        </div>
    </div>

    <div class="backDiv">
        <a asp-action="Index">Back to List</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
