<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ca77c6f2-4ad1-4531-a1e1-b994e2ff2227/resourceGroups/Student/providers/Microsoft.Web/sites/anho2008myportfolio</ResourceId>
    <ResourceGroup>Student</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://anho2008myportfolio.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://anho2008myportfolio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$anho2008myportfolio</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>